{% extends "dashboard.html" %}
{% block conteudo %}  
<main id="main" class="main">
    <div class="card">
        <div class="card-body">
            <br>
            <div class="text-end">
                <a href="{{url('admin/produtos/cadastrar')}}" class="btn btn-outline-primary"><i class="bi bi-plus"></i> Cadastrar</a>
            </div>
            <h5 class="card-title">Produtos</h5>                               
            <div class="pagetitle">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{url('admin/dashboard')}}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Listagem das coleções</li>
                    </ol>
                </nav>
            </div>
            {{ flash() }}
            <div class="row justify-content-between">
                <div class="col-auto">
                    <span class="badge rounded-pill bg-primary">Total Geral: {{total.total}}</span>
                </div>
                <div class="col-auto">
                    <span class="badge rounded-pill bg-success">Total Ativos: {{total.ativo}}</span>
                </div>
                <div class="col-auto">
                    <span class="badge rounded-pill bg-danger">Total Inativos: {{total.inativo}}</span>
                </div>
            </div>
            <hr>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered border-primary table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Texto</th>
                            <th scope="col">Status</th>
                            <th scope="col">Ação</th>
                            <th scope="col">Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in produtos %}
                        <tr>
                            <th scope="row">{{produto.id}}</th>
                            <td>{{resumirTexto(produto.titulo, 30, '...')}}</td>
                            <td><small>{{resumirTexto(produto.texto, 50, '...')}}</small></td>
                            <td class="text-center">
                                {% if produto.status == 1 %}
                                <i class="bi bi-circle-fill text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Ativo"></i>
                                {% else %}
                                <i class="bi bi-circle-fill text-danger" tooltip="tooltip" title="Inativo"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{ url('admin/produtos/editar/'~produto.id) }}" tooltip="tooltip" title="Editar">
                                    <i class="fa-solid fa-pen m-1"></i>
                                </a>

                                <a href="{{ url('admin/produtos/deletar/' ~ produto.id) }}" data-confirm="Confirma a exclusão?">  <i class="bi bi-trash h6 text-danger m-1" data-toggle="tooltip" data-placement="top" title="Excluir"></i></a>                                

                            </td>

                            <td class="text-center">
                                <a href="#info{{produto.id}}" data-bs-toggle="offcanvas" tooltip="tooltip" title="Status">
                                    <i class="fa-solid fa-arrow-trend-up"></i>
                                </a>
                            </td>
                        </tr>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="info{{produto.id}}">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{produto.titulo}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Cadastrado em: {{ produto.cadastrado_em|date("d/m/Y H:i:s") }}
                                </li>
                                <li class="list-group-item">
                                    Atualizado em: {{produto.atualizado_em}}
                                </li>
                                <li class="list-group-item">
                                    Última visita em: {{produto.ultima_visita_em}}
                                </li>
                                <li class="list-group-item">
                                    Cadastrado por: <b>{{produto.usuario.nome}}</b>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}