{% extends "dashboard.html" %}
{% block conteudo %}  
<main id="main" class="main">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Usuarios</h5>                               
            <div class="pagetitle">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{url('admin/dashboard')}}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Cadastrar usuario</li>
                    </ol>
                </nav>
            </div>
            <form action="{% if usuario.id %}{{url('admin/usuarios/editar/'~usuario.id)}}{%else%}{{url('admin/usuarios/cadastrar')}}{%endif%}" method="post" class="row g-3">
                <div class="col-md-12">
                    <div class="form-floating">
                        <input type="number" name="level" value="{{usuario.level}}" id="level" class="form-control">
                        <label for="titulo">Título</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <textarea name="nome" id="nome" class="form-control" style="height: 100px;">{{usuario.nome}}</textarea>
                        <label for="texto">Nome</label>
                    </div>
                </div>
                 <div class="col-md-12">
                    <div class="form-floating">
                        <input type="number" name="email" value="{{usuario.email}}" id="email" class="form-control">
                        <label for="titulo">email</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        <input type="password" name="senha" value="{{usuario.senha}}" id="senha" class="form-control">
                        <label for="titulo">senha</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <select name="status" class="form-select" id="status">

                            <option value="1" {% if usuario.status == '1' %}selected{% endif %}>Ativo</option>
                            <option value="0" {% if usuario.status == '0' %}selected{% endif %}>Inativo</option>
                        </select>
                        <label for="status">Status</label>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary">
                        {% if usuario.id %}
                        <i class="bi bi-pencil"></i> Atualizar
                        {% else %}
                        <i class="bi bi-plus"></i> Cadastrar
                        {% endif %}
                    </button>
                </div>
            </form>

        </div>
    </div>
</main>
{% endblock %}