{% extends "dashboard.html" %}
{% block conteudo %}  
<main id="main" class="main">
    <div class="card">
        <div class="card-body">
            <br>
            <div class="text-end">
                <a href="{{url('admin/usuarios/cadastrar')}}" class="btn btn-outline-primary"><i class="bi bi-plus"></i> Cadastrar</a>
            </div>
            <h5 class="card-title">Usuários</h5>                               
            <div class="pagetitle">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{url('admin/dashboard')}}">Dashboard</a></li>
                        <li class="breadcrumb-item active">usuários</li>
                    </ol>
                </nav>
            </div>
            {{ flash() }}
            <div class="card-header bg-white border-5 d-flex justify-content-between align-items-center">
                <div>
                    <span class="badge rounded text-bg-dark bg-opacity-25">
                        <span class="text-dark bg-opacity-100">{{total.usuarios}} usuário</span>
                        <span class="badge text-bg-success bg-opacity-100">{{total.usuariosAtivo}}</span>
                        <span class="badge text-bg-danger bg-opacity-100">{{total.usuariosInativo}}</span>
                    </span> 

                    <span class="badge rounded text-bg-danger bg-opacity-25">
                        <span class="text-dark bg-opacity-100">{{total.admin}} admin</span>
                        <span class="badge text-bg-success bg-opacity-100">{{total.adminAtivo}}</span>
                        <span class="badge text-bg-danger bg-opacity-100">{{total.adminInativo}}</span>
                    </span>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered border-primary table table-striped table-hover">
                    <thead>
                        <tr>
                        <tr>
                            <th>id</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th class="text-center">Level</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Ação</th>
                        </tr>

                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <th>{{usuario.id}}</th>
                            <td>
                                <a href="{{ url('admin/usuarios/editar/'~usuario.id) }}" tooltip="tooltip" title="Editar">
                                    {{usuario.nome}}
                                </a>                            
                            </td>
                            <td>{{usuario.email}}</td>
                            <td class="text-center">
                                {% if usuario.level == 3 %}
                                <div class="text-danger fw-bold">Admin</div>
                                {% else %}
                                <div class="text-secondary">Usuário</div>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if produto.status == 1 %}
                                <i class="bi bi-circle-fill text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Ativo"></i>
                                {% else %}
                                <i class="bi bi-circle-fill text-danger" tooltip="tooltip" title="Inativo"></i>
                                {% endif %}
                            </td>
                            <td>
                                <div class="icon">
                                    <a href="{{ url('admin/usuarios/deletar/' ~ usuario.id) }}" data-confirm="Confirma a exclusão?"> <i class="bi bi-trash2 bi-lg"></i></a>
                                    <a href="{{ url('admin/usuarios/editar/' ~ usuario.id) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                                        <i class="bi bi-pencil-square bi-lg"></i> <!-- Ícone de lápis quadrado, maior -->
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}