{% extends 'base.html' %}
{% block conteudo %}

<div class="container">
    {{flash()}}
</div>
{% if produtos.slides %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for slide in produtos.slides %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{loop.index0}}" class="{% if loop.index0 == 0 %} active {% endif %}" aria-current="true" aria-label="Slide 1"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for slide in produtos.slides %}
        <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %} {{ random(['animate__animated animate__bounceInUp', 'animate__animated animate__heartBeat', 'animate__animated animate__zoomIn', 'animate__animated animate__zoomInDown']) }}">
            {% if slide.capa %}
            <img src="{{url('uploads/imagens/'~slide.capa)}}" class="d-block w-100" alt="...">
            {% endif %}
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark">{{ slide.titulo }}</h5>
                <p>{{resumirTexto(slide.texto, 100) |raw}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% else %}
<div class="alert alert-warning" role="alert">
    Nenhum slide cadastrado para exibir!
</div>
{% endif %}
<main id="main" class="prd" data-aos="fade" data-aos-delay="1500">
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container-fluid">
            <div class="row gy-4 justify-content-center">
                {% for produto in produtos.produtos %}
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="{{url('uploads/imagens/thumbs/'~produto.capa)}}" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="{{url('uploads/imagens/'~produto.capa)}}" title="{{produto.titulo}}" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a href="{{url('produto/'~produto.categoria.slug~'/'~produto.slug)}}" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            <p></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}