{% extends 'base.html' %}
{% block conteudo %}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h1>{{produto.titulo}}</h1>

            <div class="my-3">
                <small class="text-success">Por {{produto.usuario.nome}}, {{ produto.cadastrado_em|date("d/m/Y") }} às {{ produto.cadastrado_em|date("H:i") }} em {{produto.categoria.titulo}}</small>
            </div>

            <div class="texto">
                <p>{{produto.texto}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
