<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="container">        
        <div class="copyright">
            &copy; Copyright {{ "now"|date("Y") }} <strong><small>{{constant('SITE_NOME')}}</small></strong>
        </div>
    </div>

</footer>
<small class="tempoCarregamento">Executado em  <b>{{tempoCarregamento()}}</b> segundos</small>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader">
    <div class="line"></div>
</div>
