{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
    <h1>Sistema de Alto Desempenho</h1>
    <p>Estamos empolgados em anunciar que nosso sistema agora é capaz de suportar mais de um milhão e meio de dados! O site está funcionando com essa carga de informações e está pronto para oferecer uma experiência excepcional.</p>

    <p>Este marco representa nosso compromisso em fornecer um sistema robusto e eficiente para atender às necessidades de nossos usuários. O site está no ar com mais de um milhão e meio de dados, e estamos ansiosos para compartilhar essa conquista com você.</p>

    <p>Na área administrativa do site, estamos atualmente trabalhando em um sistema de paginação para facilitar a navegação e gerenciamento dos dados. Essa paginação será incluída na página inicial do site, permitindo que os usuários naveguem facilmente por nossa vasta base de informações. No momento, a página inicial está sendo carregada com um limite de mil produtos e fotos para fins de teste.</p>

    <p>À medida que continuamos aprimorando nosso sistema, estamos ansiosos para proporcionar a você uma experiência cada vez melhor, tanto como administrador quanto como usuário. Fique ligado para as próximas atualizações e recursos que estão por vir.</p>
</div>
{% endblock %}
